@import '../../General.scss';

.wrap {
	min-height: 660px;
	position: relative;
	z-index: -1;
	margin-top: -120px;
	padding-top: 200px;
	// background-image: url('../../../public/assets/services-bg.png');
	// background-size: cover;
	// background-position: center;

	h2 {
		width: 270px;
	}
}

.cards_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card_inner {
	display: flex;
	flex-direction: row;
	max-width: 47%;
	margin-bottom: 70px;

	img {
		margin-right: 35px;
		width: 60px;
		height: 60px;
	}

	h3 {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 15px;
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}
}
