@import '../../General.scss';

.wrap {
	padding: 95px 0;
	background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 0) 79%
		),
		linear-gradient(0deg, rgba(157, 129, 160, 0.02), rgba(157, 129, 160, 0.02)),
		url(../../pics/services-bg.png);
}

.container {
	@include responsive(974px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.h2 {
	width: 390px;
	background: linear-gradient(45deg, #134242, #600762);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 75px;

	@include responsive(974px) {
		width: unset;
		text-align: center;
	}
}

.services_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 -20px;

	@include responsive(980px) {
		justify-content: center;
	}
}

.service_wrap {
	max-width: 320px;
	// width: 30%;
	margin: 0 20px;
	margin-bottom: 40px;
	background-color: white;
	filter: drop-shadow(0px 3px 5px rgba(154, 7, 149, 0.15));
	padding: 55px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include responsive(1095px) {
		max-width: 280px;
	}

	@include responsive(654px) {
		max-width: 100%;
		padding: 30px;
	}

	.service_content {
	}

	.h3 {
		color: #47115a;
		position: relative;
		margin-bottom: 56px;
		@include responsive(654px) {
			margin-bottom: 45px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50px;
			left: 0;
			height: 1px;
			width: 50px;
			background-color: #990a92;
		}
	}

	.description {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}

	button {
		padding: 10px 35px;
		border-radius: 30px;
		border: 1px solid #9801cd;
		background-color: #fff;
		font-weight: 300;
		font-size: 14px;
		font-family: Montserrat;
		margin-top: 20px;
		max-width: 150px;
		transition: all 0.5s ease;
		cursor: pointer;

		&:hover {
			background-color: #9801cd;
			color: white;
		}
	}
}
