@import '../../General.scss';

.wrap {
	position: relative;
	width: 280px;
	height: 60px;
	top: 0;
	cursor: pointer;
	transition: all 0.5s ease;
	&:hover {
		top: -3px;
	}
}

.button {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	background: linear-gradient(0deg, #9a0795, #9a0795);
	// background: red;

	filter: blur(10px);
	border-radius: 26.5px;
	position: absolute;
	z-index: 2;
}

.text {
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
