@import '../../General.scss';

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 90%;
}

.wrap {
	position: relative;
	height: 65vh;
	min-height: 600px;
	background-image: url('../../../public/assets/hero-bg.png');
	background-size: cover;
	background-position: center;
}

.content {
	max-width: 400px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-weight: 800;
	font-size: 31px;
	line-height: 38px;
	margin-bottom: 70px;
	max-width: 340px;
}

.description {
	font-weight: normal;
	font-size: 18px;
}

.btn_wrap {
	margin-top: 50px;
}

.custom-shape-divider-bottom-1645436404 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645436404 svg {
	position: relative;
	display: block;
	width: calc(135% + 1.3px);
	height: 83px;
}

.custom-shape-divider-bottom-1645436404 .shape-fill {
	fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-bottom-1645436404 svg {
		width: calc(213% + 1.3px);
		height: 83px;
	}
}
