@import '../../General.scss';

.wrap {
	min-height: 660px;
	margin-top: -120px;
	padding-top: 200px;

	h2 {
		width: 270px;
		background: linear-gradient(45deg, #134242, #600762);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 75px;
		@include responsive(974px) {
			width: unset;
			text-align: center;
		}
	}
}

.cards_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card_inner {
	display: flex;
	flex-direction: row;
	max-width: 47%;
	margin-bottom: 70px;

	@include responsive(830px) {
		flex-direction: column;
	}

	@include responsive(530px) {
		max-width: 100%;
	}

	img {
		margin-right: 35px;
		width: 60px;
		height: 60px;
		@include responsive(830px) {
			margin-bottom: 30px;
		}
	}

	h3 {
		margin: 0;
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 15px;
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
	}
}
