.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0 10px;
}

h2 {
	background: linear-gradient(45deg, #134242, #600762);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 75px;
}
